* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header styles */
.header {
    background: #FFF8F3;
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.banner {
    padding-right: 230px;
    padding-top: 210px;
    padding-left: 800px;
    text-align: right;
}

.banner-title {
    font-size: 80px;
    font-weight: 800;
    padding-bottom: 24px;
}

.banner-description {
    padding-left: 180px;
    margin-bottom: 32px;
    color: #444343;
    line-height: 28px;
    font-size: 20px;
}

.btn-primary {
    color: white;
    background-color: rgb(240, 90, 34);
    padding: 22px 28px;
    font-size: 24px;
    font-weight: 500;
    border: 0;
    border-radius: 6px;
}

.btn-primary:hover {
    background-color: rgb(218, 71, 13);
}

main {
    /* max-width: 1140px; */
    /* margin: 0 auto; */
}

/* My failures styles */
.failures {
    display: flex;
    margin: 131px 322px 131px 215px;
    gap: 100px;
}

.failure-context {
    text-align: left;
    padding-right: 322px;
}

.person-img {
    padding-left: 0;
}

.failure-title {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 24px;
    padding-right: 100px;
    padding-top: 210px;
}

.failure-subtitle {
    font-size: 18px;
    font-weight: 500;
    color: #444343;
    line-height: 30px;
    padding-bottom: 16px;
    padding-right: 100px;
}

.failure-list {
    font-size: 18px;
    font-weight: 500;
    color: #444343;
    line-height: 30px;
    list-style: none;
}

ul {
    padding-left: 0;
}

.fa-solid.fa-check {
    font-size: 20px;
    color: #16d887;
}

/* My plans styles */
.plan {
    margin: 0 230px 0 230px;
}

.plan-container {
    display: flex;
    justify-content: space-between;
}

.plan-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 50px;
}

.plan-info {
    text-align: center;
}

.plan-info-title {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 16px;
    padding-top: 26px;
}

.plan-info-subtitle {
    font-size: 25px;
    font-weight: 500;
    color: #737272;
}

/* Positive mindset image styles */

.positive-mindset {
    margin: 130px 230px;
}

.watch {
    background-image: url('../images/gradient2.png'),
        url('../images/watch.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 6px;
    padding-left: 64px;
    padding-bottom: 60px;
}

.mindset-title {
    color: white;
    text-align: left;
    font-size: 40px;
    font-weight: 700;
    padding-top: 60px;
    padding-bottom: 24px;
}

.white-btn {
    color: rgb(240, 90, 34);
    padding: 20px 35px;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    border-radius: 6px;
}

.white-btn:hover {
    background-color: rgb(252, 210, 194);
}

/* Footer styles */
.footer{
    background-color: #151414;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    margin: 0 230px;
}
.future{
    color: #f8f8f8;
    padding: 130px 330px 130px 0;
}
.future-title{
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 16px;
}
.future-description{
    padding-bottom: 30px;
    line-height: 26px;
    font-weight: 200;
    font-size: 16px;
}
.future a{
        text-decoration: none;
        padding-right: 17px;
        color: #f8f8f8;
}
.subscribe{
    padding: 130px 0 130px 0;
}
.subscribe-title{
    color: #f8f8f8;
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 30px;
}
#email{
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
    width: 285px; 
    background-color: transparent;
    border: 1px solid #f8f8f8;
    border-radius: 6px;
    margin-bottom: 16px;
}
